{% extends 'base.html' %}

{% block content %}
<div style="max-width: 600px; margin: 20px auto;">
    <h2>Yangi yangilik qo'shish</h2>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" style="color: white; background-color: blue; padding: 10px 20px; border: none; cursor: pointer;">
            SAQLASH ✅
        </button>
        <a href="{% url 'news_list' %}" style="margin-left: 10px;">Bekor qilish</a>
    </form>
</div>
{% endblock content %}