{% extends 'base.html' %}

{% load static %}

{% block content %}

<section id="sliderSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="slick_slider">
        {% for new in news %}
        <div class="single_iteam"> <a href="{{ new.get_absolute_url }}"> <img src="{{ new.img.url }}" alt=""></a>
          <div class="slider_article">
            <h2><a class="slider_tittle" href="{{ new.get_absolute_url }}">{{ new.title|truncatewords:5 }}</a></h2>
            <p>{{ new.body|truncatewords:22 }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="latest_post">
        <h2><span>Jahon Yangiliklari</span></h2>
        <div class="latest_post_container">
          <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
          <ul class="latest_postnav">
            {% for jahon_new in jahon_news %}
            <li>
              <div class="media"> <a href="{{ jahon_new.get_absolute_url }}" class="media-left"> <img alt="" src="{{ jahon_new.img.url }}"> </a>
                <div class="media-body"> <a href="{{ jahon_new.get_absolute_url }}" class="catg_title">{{ jahon_new.title|truncatewords:5 }}</a> </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <div id="next-button"><i class="fa fa-chevron-down"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="single_post_content">
          <h2><span>O'zbekiston yangiliklari</span></h2>
          <div class="single_post_content_left">
            <ul class="business_catgnav wow fadeInDown">
              <li>
                <figure class="bsbig_fig"> <a href="{{ last_uzb_news.get_absolute_url }}" class="featured_img"> <img alt="" src="{{ last_uzb_news.img.url }}"> <span class="overlay"></span> </a>
                  <figcaption> <a href="{{ last_uzb_news.get_absolute_url }}">{{ last_uzb_news.title|truncatewords:5}}</a> </figcaption>
                  <p>{{ last_uzb_news.body|truncatewords:22}}</p>
                </figure>
              </li>
            </ul>
          </div>
          <div class="single_post_content_right">
            <ul class="spost_nav">
              {% for uzb_news_item in uzb_news %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{ uzb_news_item.get_absolute_url }}" class="media-left"> <img alt="" src="{{ uzb_news_item.img.url }}"> </a>
                  <div class="media-body"> <a href="{{ uzb_news_item.get_absolute_url }}" class="catg_title">{{ uzb_news_item.title|truncatewords:5 }}</a> </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="fashion_technology_area">
          <div class="fashion">
            <div class="single_post_content">
              <h2><span>Jamiyat</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="{{ last_jamiyat_news.get_absolute_url }}" class="featured_img"> <img alt="" src="{{ last_jamiyat_news.img.url }}"> <span class="overlay"></span> </a>
                    <figcaption> <a href="{{ last_jamiyat_news.get_absolute_url }}">{{ last_jamiyat_news.title|truncatewords:5 }}</a> </figcaption>
                    <p>{{ last_jamiyat_news.body|truncatewords:22 }}</p>
                  </figure>
                </li>
              </ul>
              <ul class="spost_nav">
                {% for jamiyat_new in jamiyat_neews %}
                <li>
                  <div class="media wow fadeInDown">
                    <a href="{{ jamiyat_new.get_absolute_url }}" class="media-left">
                      <img alt="" src="{{ jamiyat_new.img.url }}">
                    </a>
                    <div class="media-body">
                      <a href="{{ jamiyat_new.get_absolute_url }}" class="catg_title">{{ jamiyat_new.title|truncatewords:5 }}</a>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}